# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.log
*.tlog
*.obj
*.user
*.pch
*.pdb
*.lastbuildstate
*.idb
*.lib

# V8 Stuff.
third_party/*

# Binaries
Debug/*
Release/*
ipch/*
*.opensdf
*.suo
*.sdf